<section>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <center>
        <p class="p-2 bg-warning text-dark h6">Admin Settings</p>
      </center>
    </div>
    <div class="row mt-3">
      <div class="col-md-12 d-flex justify-content-center">
        <div class="align-self-center">
          <center>
            <h1 class="text-warning">Grammar</h1>
            <p class="mt-3">That's the Grammar List. Here you can <b>add</b> a new one, <b>edit</b> or
              <b>delete</b> some.</p>
          </center>
        </div>
      </div>
    </div>
    {{> _flash}}
    <div class="row">
      <div class="col-md-12">
        <div class="card text-center bg-dark mt-2 mb-4">
          <div class="card-header">
            Grammar
          </div>
          <div class="card-body">
            {{#each grammar}}
            <p class="card-text"><a href="/admin/grammarrule/edit/{{slug}}">{{name}}</a></p>
            {{/each}}
          </div>
          <div class="card-footer text-muted">
            <a href="/admin/grammarrule/add" class="btn btn-primary">Add a new one</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>