<div class="wrapper-small">
  <div class="container">
    <div class="row">
      <div class="col-12 mt-5">
        <center>
          <span><i class="fas fa-exclamation-triangle"></i></span>
          <h1 class="mt-2">Página não encontrada!</h1>
          <p>O endereço digitado não existe em nossa plataforma.</p>
        </center>
      </div>
    </div>
  </div>
</div>