<div class="wrapper-big">
  <div class="container">
    <div class="row mt-5">
      <div class="col-12">
        <center>
          <h1 class="text-primary">
            What's my password? =(
          </h1>
          <p class="mt-3">
            Don't you worry... Type your information below. A message will be sent to you in your email with the
            password recovery instructions.
          </p>
        </center>
      </div>
    </div>
    {{> _flash}}
    <div class="row justify-content-center mt-2">
      <div class="col-md-12 col-lg-6">
        <div class="post-form">
          <form action="/forgot" method="POST">
            <center>
              <input type="email" name="email" placeholder="Email" class="form-control mt-2" maxlength="50" required>
              <input type="text" name="name" placeholder="Type your first name" class="form-control mt-2" maxlength="20"
                required>
              <button type="submit" class="form-control btn btn-primary mt-2 mb-2">Send email</button>
            </center>
          </form>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <center>
          <p>
            Do you remember it? <a href="/signin">Login</a>
          </p>
        </center>
      </div>
    </div>
  </div>
</div>