<div class="wrapper-big">
  <section>
    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-md-6 d-flex mb-4">
          <div class="align-self-center">
            <center>
              <h1 class="text-primary">
                Pratique inglês <br> do seu jeito!
              </h1>
              <p class="mt-3">
                Leia notícias de seu interesse, em inglês, adaptadas para o aprendizado e focadas nos acontecimentos do
                Brasil e do mundo!
              </p>
              <a href="/signup"><button class="btn btn-outline-light mb-3">Quero fazer parte</button></a>
            </center>
          </div>
        </div>
        <div class="col-md-6 d-flex">
          <div class="align-self-center">
            <center>
              <img src="map.png" class="img-fluid map">
            </center>
          </div>
        </div>
      </div>
      <hr class="bg-dark">
      <div class="row mt-5 mb-5">
        <div class="col-md-6 d-flex">
          <div class="align-self-center">
            <center>
              <img src="pc.png" class="img-fluid pc d-none d-md-block">
            </center>
          </div>
        </div>
        <div class="col-md-6">
          <center>
            <h4 class="text-primary">O que é a ENGLEESH?</h4>
            <p class="mt-4">É uma plataforma de notícias em inglês focada principalmente nos acontecimentos do Brasil.
              Criada e administrada por estudantes da língua, com notícias curtas e dicas de vocabulário e gramática.
              Tem o objetivo de
              aproximar o idioma a outros estudantes com assuntos de seus interesses, tornando mais agradável o processo
              de
              exposição ao idioma. Fique à vontade... é de graça!
            </p>
          </center>
        </div>
      </div>
      <hr class="bg-dark">
      <div class="row mt-5">
        <div class="col-md-6 col-lg-3">
          <div class="service-card animated bounceIn delay-1s">
            <center>
              <img src="brazil.png" alt="imagem do brasil" class="mb-3">
              <h5 class="text-primary">Noticias do Brasil</h5>
              <p>Acompanhe algumas notícias do Brasil (e também do mundo).</p>
            </center>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="service-card  animated bounceIn delay-1s">
            <center>
              <img src="book.png" alt="imagem do brasil" class="mb-3">
              <h5 class="text-primary">Gramática</h5>
              <p>Veja dicas de gramática relacionadas às notícias.</p>
            </center>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="service-card animated bounceIn delay-1s">
            <center>
              <img src="pencil.png" alt="imagem do brasil" class="mb-3">
              <h5 class="text-primary">Vocabulário</h5>
              <p>Amplie seu vocabulário relacionado aos seus interesses.</p>
            </center>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="service-card animated bounceIn delay-1s">
            <center>
              <img src="update.png" alt="imagem do brasil" class="mb-3">
              <h5 class="text-primary">Atualizações</h5>
              <p>Estamos atualizando nossas categorias constantemente.</p>
            </center>
          </div>
        </div>
      </div>
      <hr class="bg-dark">
      <div class="row mt-5">
        <div class="col-12">
          <h4 class="text-primary">Por que estamos aqui?</h4>
          <p class="mt-4">Ao longo dos anos estudando essa incrível língua, sabemos que uma coisa muito importante para
            atingirmos um nível de fluência é encontrar um sentimento que denominamos enjoyment em inglês, que é o
            equivalente a prazer em português.
            Entretanto, notamos uma certa dificuldade no Brasil em encontrar notícias do dia a dia em inglês e que
            sejam dos nossos interesses. Sendo assim, um grupo de estudantes de inglês e tecnologia decidiram se juntar
            para acabar com esse problema!
            A Engleesh está aqui para trazer um conteúdo dinâmico e diferenciado para você estudante de inglês, e fazer
            do idioma a sua rotina!
          </p>
          <a href="/signup"><button class="btn btn-light mt-3 mb-5">Gostei! Quero participar</button></a>
        </div>
      </div>
    </div>
  </section>
</div>